
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<form action="@Url.Action("contact", "home")" method="post" class="ajax-post">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" required placeholder="Enter Your First Name">
    </div>
    <div class="=form-group">
        <label for="lasstName">Last Name</label>
        <input type="text" class="from-control" id="LastName" name="LastName" required placeholder="Enter Your Last Name" />
    </div>
    <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" name="Email" required placeholder="Enter Email" />
    </div>
    <div>
        <label for="PhoneNumber">Phone Number</label>
        <input type="number" class="form-control" id="PhoneNum" name="PhoneNum" required placeholder="Enter Phone Number" maxlength="10" />
    </div>
    <div>
        <label for="CompanyName">Company Name</label>
        <input type="text" class="form-control" id="CompanyName" name="CompanyName" required placeholder="Enter Your Company Name" />
    </div>
    <div>
        <label for="ProjectDesc">Project Description</label>
        <input type="text" class="form-control" id="ProjectDesc" name="ProjectDesc" required placeholder="Enter Your Product Description" />
    </div>
    <div>
        <label for="Comment">Comment</label>
        <textarea id="Comment" name="Comment" class="form-control" required placeholder="Give me yo comment!" ></textarea>
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>