
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="centerImage">
        <img src="http://tinyurl.com/lf-suhbg"/>
    </div>

    <div class="thirdWidth">
        <h2>Title</h2>
        <p>HFUADSOHFOEHAUOFHEA OUFHaohsidduasohdoe
        <br />
        <br />
        <br />
        
        
        YEAH hifodsahiofea
        </p>
    </div>
    <div class="thirdWidth">
        <h2>Title</h2>
        <p>HFUADSOHFOEHAUOFH EAOUFHaohsidduasohdoe
        <br />
        <br />
        <br />
        
        hdfsioaiofads
        </p>
    </div>
    <div class="thirdWidth">
        <h2>Title</h2>
        <p>HFUADSOHFOEHAUOFHEAOU FHaohsidduasohdoe
        <br />
        <br />
        <br />
        fdsafdsaafds
        </p>
    </div>
</div>

